{% extends 'eventos/base.html'%} 
{% load static %} 
{% block titulo %}Detalle Evento{% endblock %} 
{% block content %} 
<!-- banner -->
<div class="sub-banner">

		
</div>
<!-- banner -->
<div class="events-w3layouts">
        
    <div class="events-section2-agileinfo">
    <div class="container">
        <div class="blog1-w3ls">
            
            <div class="col-md-8 blog-text-w3ls">
                <h4>{{post.nombre}}</h4>
                <div class="item_info">
                        <ul>
                            <li><i class="glyphicon glyphicon-description"></i>Fecha:  {{post.fecha_evento}}</a></li>
                            
                        </ul>	
                       
                        		
                 </div>
                 <div class="item_info">
                        <ul>
                            <li><i class="glyphicon glyphicon-description"></i>Descripcion:  {{post.descripcion}}</a></li>
                            
                        </ul>	
                       
                        		
                 </div>

                 <div class="item_info">
                        <ul>
                            <li><i class="glyphicon glyphicon-description"></i>Capacidad:  {{post.capacidad}}</a></li>
                            
                        </ul>	
                       
                        		
                 </div>


                  
                        <ul>
            <h2><img src="{% static 'images/e5.jpg'%}" alt=" " /></h2>
                            
                        </ul>	
                       
                 
                 
				 

            </div>
            {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'editar_evento' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'evento_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            <div class="clearfix"></div>
        </div> 
        
    </div>
    </div>
{% endblock %}
