{% extends 'eventos/base.html'%} 
{% load static %} 
{% block titulo %}Personas{% endblock %} 
{% block content %} 
<!-- banner -->
<div class="sub-banner">

		
</div>
<!-- banner -->
<div class="events-w3layouts">
{% if user.is_authenticated %}
<h4>
        <a href="{% url 'persona_nueva' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Inscribirse</a>

</h4>
{% endif %}

        {% for post in posts %} 
    <div class="events-section2-agileinfo">
    <div class="container">
        <div class="blog1-w3ls">
            
            <div class="col-md-8 blog-text-w3ls">
                <h4>{{post.nombre}}</h4>
                <div class="item_info">
Eventos:
                {% for persona in post.eventos.all %}
                          <div class="item_info">
  							<ul>
                            <li><i class="glyphicon glyphicon-description"></i>{{persona.nombre}}</a></li>
                        </ul>	
                              </div>
  						{% endfor %}
                        			
                 </div>
                
                 <a href="{% url 'detalle_persona' pk=post.pk %}" class="blog-read" >Detalle</a>
				 

            </div>
            <div class="clearfix"></div>
            
        </div> 
        
        {% endfor %}
    </div>
    </div>
{% endblock %}
